body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.file-buttons-container {
    display: flex;
    justify-content: space-between;
}

/* .file-uploader-container {

}

.file-uploader-title {

} */