body {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    color: #00FFFF;
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg,#450A0A 0%,#0B0E14 35%,#0B0E14 100%);
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: #00FFFF;
}

p {
    margin: 0;
}

hr {
    margin: 0;
    border: none;
    height: 1px;
    background-color:#FF0000;
}

.header-container {
    width: 95%;
    margin: 0 auto;
}

.buttons-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.header-button {
    font-size: 32px;
    color: #660F0F;
    font-weight: 500;
    transition: 0.3s;
    
}

.selected-button {
    color: #00FF85;
    text-decoration: underline;
    text-shadow: 0 0 2px rgba(0, 255, 133, 0.3);
    opacity: 0.9;
    animation: green-pulse 3s ease-in-out infinite;
    transition: all 0.2s ease;
}

.header-button:hover {
    color: #00FF85;
    text-shadow: 0 0 2px rgba(0, 255, 133, 0.3);
    opacity: 0.9;
  
    animation: green-pulse 3s ease-in-out infinite;
    transition: all 0.2s ease;
}

.header-button:active {
    opacity: 0.7;
}

footer {
    position: sticky;
    top: 100vh;
    background-color: #0B0E14;
    width: 95%;
    margin: 0 auto;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-bottom: 12px;
}

.left-side {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.website-logo{
    height: 40px;
}

.copyright {
    color: #450A0A;
}

.authentication-session {
    color: #660F0F;
    font-size: 22px;
    font-weight: 600;
    text-align: right;
    text-shadow: 0 0 8px rgba(255, 0, 0, 0.2);
}

.session-value {
    color: #FF0000;
    font-size: 22px;
    font-weight: 700;
    text-align: right;
}

.positive-session-value {
    color: #00FFFF;
    font-size: 22px;
    font-weight: 700;
    text-align: right;
    text-shadow: 0 0 8px rgba(0, 184, 255, 0.5);
    animation: pulse 2.5s ease-in-out infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
    text-shadow: 0 0 4px rgba(0, 243, 255, 0.8), 0 0 8px rgba(0, 184, 255, 0.5);
  }
  50% {
    opacity: 0.85;
    text-shadow: 0 0 2px rgba(0, 243, 255, 0.6);
  }
}

@keyframes green-pulse {
  0%, 100% {
    opacity: 1;
    text-shadow: 0 0 4px rgba(0, 255, 133, 0.7), 0 0 8px rgba(0, 255, 100, 0.3);
  }
  50% {
    opacity: 0.85;
    text-shadow: 0 0 20px rgba(0, 255, 133, 0.6);
  }
}

@media screen and (max-width: 505px) {
    .header-button {
        font-size: 24px;
    }
}

@media screen and (max-width: 411px) {
    .header-button {
        font-size: 22px;
    }
}