body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    filter: drop-shadow(0 0 20px #FF0000);
    animation: pulse 4s infinite;
}

form {
    position: relative;
    height: 400px;
    width: 300px;
    background-color: #FF0000;
    padding: 1px;
    clip-path: polygon(0 5%, 5% 0, 98% 0, 98% 10%, 100% 12%, 100% 100%, 15% 100%, 0% 88%);
}

.form-content {
    width: 100%;
    height: 100%;
    background: linear-gradient(100deg,#0B0E14 0%,#450A0A 75%,#450A0A 100%);
    clip-path: polygon(0 5%, 5% 0, 98% 0, 98% 10%, 100% 12%, 100% 100%, 15% 100%, 0% 88%);
}

.login-text {
    font-size: 36px;
    font-weight: 700;
    color: #FF0000;
    text-align: center;
    background-color: #0B0E14;
    border-bottom: 1px solid #FF0000;
    padding-bottom: 6px;
    padding-top: 6px;
    animation: textFlicker 4s infinite;
}

.input-container {
    padding-left: 16px;
    margin-top: 16px;
}

label {
    font-size: 24px;
    display: block;
}

input[type="text"], input[type="password"]{
    background-color: #0B0E14;
    border: 1px solid #FF0000;
    font-size: 20px;
    color: #00FFFF;
    padding: 6px;
    transition: 0.2s;
}

input[type="text"]:hover, input[type="password"]:hover{
    transform: translate(-2px, -2px);
}

input[type="text"]:focus, input[type="password"]:focus{
    color: #FF0000;
    border-color: #FF0000;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.15);
    outline: none;
}

.button-container {
    width: 100px;
    height: 40px;
    background-color: #FF0000;
    padding: 1px;
    clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    margin-left: auto;
    margin-right: auto;
    margin-top: 48px;
}

.button-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #0B0E14;
    clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
}

input[type="submit"] {
    height: 100%;
    width: 100%;
    font-size: 20px;
    border: none;
    background-color: #0B0E14;
    color: #00FFFF;
    clip-path: polygon(15% 0, 85% 0, 100% 50%, 85% 100%, 15% 100%, 0% 50%);
    transition: 0.2s;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: #450A0A;
    color: #FF0000;
}

input[type="submit"]:active {
    opacity: 0.7;
}

.login-error {
    font-size: 18px;
    color: #FF00FF;
    font-weight: bold;
}

.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 12px;
}

.error {
    color: #FF0000;
    font-weight: 600;
}

@keyframes textFlicker {
    0%, 94%, 100% { opacity: 1; transform: skew(0deg); text-shadow: none; }
    95% { opacity: 0.8; transform: skew(5deg); text-shadow: 2px 0 #FF0000, -2px 0 #00FFFF; }
    97% { opacity: 1; transform: skew(-3deg); text-shadow: -2px 0 #FF0000, 2px 0 #00FFFF; }
    98% { opacity: 0.9; transform: skew(0deg); }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.70;
  }
}